<h1 class='text-center'><%= @party.name %></h1>

<div class='col-md-4'>
  <div class='task-list'>
    <div>
  <!--     calendar here -->  
    </div>

    <div>
      <h4 class='text-center'>To Do List</h4>
      <ul>
        <% @party.tasks.each do |task| %>
        <li><%= task.title %>, 
          <% if task.category %><%= task.category %>,<% end %>
         <!-- Add Station to Task object, then show Task Station <%# if task.station %><%#= task.station %>,<%# end %> -->
          <%= task.duration %> minutes</li> 
        <% end %>
       </ul>
       <p id='add-task'><%= link_to '+ Add Item', new_party_task_path(@party) %></p> 
    </div>
  </div>
</div>

<div class='col-md-8'>
  <div class='timeline-planner'>
    <div class='blue-date-box'>
      <h4 class='text-center'><%= @party.date.strftime('%A %B %d %Y') %></h4> 
    </div>
    <!--     timeline planner goes here --> 
    <%= render 'planner_grid' %> 
  </div>
</div>