<h1 class='text-center'><%= @party.name %></h1>

<div class='col-md-4'>
  <div class='task-list'>
    <div>
  <!--     calendar here -->  
    </div>

    <div>
      <h4 class='text-center'>To Do List</h4>
      <ul>
        <li>Grocery List</li>
            <% @party.tasks.each do |task| %>
              <ul> 
                <% if task.category == 'Grocery List' %><li class='draggable'><%= task.title %>, <%= task.duration %> minutes <%= link_to [task.party, task], method: :delete, data: { confirm: "Delete this task?"  } do %><i class="glyphicon glyphicon-remove"></i><% end %></li><% end %>
              </ul>
            <% end %>        
          <li>Food Prep and Cooking</li>
            <% @party.tasks.each do |task| %>
              <ul> 
                <% if task.category == 'Food Prep and Cooking' %><li class='draggable'><%= task.title %>, <%= task.duration %> minutes <%= link_to [task.party, task], method: :delete, data: { confirm: "Delete this task?"  } do %><i class="glyphicon glyphicon-remove"></i><% end %></li><% end %>
              </ul>
            <% end %>
          <li>Tableware and Decor Set-up</li>
            <% @party.tasks.each do |task| %>
              <ul> 
                <% if task.category == 'Tableware and Decor Set-up' %><li class='draggable'><%= task.title %>, <%= task.duration %> minutes<%= link_to [task.party, task], method: :delete, data: { confirm: "Delete this task?"  } do %><i class="glyphicon glyphicon-remove"></i><% end %></li><% end %>
              </ul>
            <% end %>
       </ul>
       <p id='add-task'><%= link_to '+ Add Item', new_party_task_path(@party) %></p> 
    </div>
  </div>
</div>

<div class='col-md-8'>
  <div class='timeline-planner'>
    <div class='blue-date-box'>
      <h4 class='text-center'><%= @party.date.strftime('%A %B %d %Y') %></h4> 
    </div>
    <!--     timeline planner goes here --> 
    <%= render 'planner_grid' %> 
  </div>
</div>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(function() {
      $( ".draggable" ).draggable();
    });
  </script>
