<h1 class='text-center'><%= @party.name %></h1>

<div class='col-md-4'>
  <div class='task-list'>
    <div>
  <!--     calendar here -->  
    </div>

    <div>
      <h4 class='text-center'>To Do List</h4>
      <ul>
        <li>Grocery List</li>
            <% @party.tasks.each do |task| %>
              <ul> 
                <% if task.category == 'Grocery List' %><li><%= task.title %>, <%= task.duration %> minutes</li><% end %>
              </ul>
            <% end %>        
          <li>Food Prep and Cooking</li>
            <% @party.tasks.each do |task| %>
              <ul> 
                <% if task.category == 'Food prep and cooking' %><li><%= task.title %>, <%= task.duration %> minutes</li><% end %>
              </ul>
            <% end %>
          <li>Tableware & Decor Setup</li>
            <% @party.tasks.each do |task| %>
              <ul> 
                <% if task.category == 'Tableware & Decor Setup' %><li><%= task.title %>, <%= task.duration %> minutes</li><% end %>
              </ul>
            <% end %>
       </ul>
       <p id='add-task'><%= link_to '+ Add Item', new_party_task_path(@party) %></p> 
    </div>
  </div>
</div>

<div class='col-md-8'>
  <div class='timeline-planner'>
    <div class='blue-date-box'>
      <h4 class='text-center'><%= @party.date.strftime('%A %B %d %Y') %></h4> 
    </div>
    <!--     timeline planner goes here --> 
    <%= render 'planner_grid' %> 
  </div>
</div>