<%= form_for [@party, @task] do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :task_name %><br>
    <%= f.text_field :title, class: 'form-control medium' %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>  
    <%= f.radio_button :category, "Grocery List" %>
    <%= f.label :category_grocery, "Grocery List" %><br>
    <%= f.radio_button :category, "Food Prep and Cooking" %>
    <%= f.label :category_food, "Food Prep and Cooking" %><br>
    <%= f.radio_button :category, "Tableware and Decor Set-up" %>
    <%= f.label :category_tableware, "Tableware and Decor Set-up" %>
  </div>
  <div class="form-group">
    <%= f.label :how_long_will_it_take? %><br>
    <span class="inline"><%= f.number_field :duration, min: 1, class: 'form-control short' %></span><span class="inline">&nbsp minutes</span>
  </div>  
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control medium', placeholder: "Add additional details here" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>

<% end %> 
