<div class="jumbotron y">
  <h1 class="text-center">Welcome to PartyTable!</h1>
   <h3>My Parties:</h3>
    <% if current_user.parties.any? %>
      <ul>
          <% current_user.parties.each do |party| %>
            <% if party %>
              <li><%= party.name %> - 
                <% if party.date %><%= party.date.strftime("%B %d %Y") %><% end %> 
                <%= link_to "View party", party_path(party) %> | <%= link_to "Timeline Planner", timeline_party_path(party) %>
                <%= link_to party, method: :delete, data: { confirm: "Delete this party?"  } do %><i class="glyphicon glyphicon-remove"> </i>Delete<% end %>
              </li>                
            <% end %>
          <% end %>
      </ul>
   <% else %>
    <p>Don't you think it's time you threw an awesome dinner party?</p>
   <% end %>
  <br>
  <!--    <h3>Past Parties:</h3> // List of past parties goes here
  <br> -->
   <p class="text-center"><%= link_to "Start A New Party", new_party_path, class: 'btn btn-success btn-lg' %></p>   
</div>